{{ partial "header.html" . }}

<section class="w-100 mw-100 center pl4 pl5-ns pr4 pr5-ns bg-white helvetica">

<h1 class="f2 f-subheadline-m f-headline-l">{{ .Page.Title }}</h1>

<ul class="f4 f2-ns pa0 list lh-copy" >
  {{ range .Pages }}
  <li class="">
      <a href="{{ .Permalink }}" class="link red dim">
        {{ .Title }}
      </a>
      <p class="f5 f4-ns">{{ .Summary }}</p>
  </li>
  {{ end }}

</ul>

<!-- <ul class="list pa3 pa5-ns helvetica">
    {{ range .Site.Taxonomies.tags }}
            <li class="dib mr2"><a class="f4 f2-ns b db pa2 link dim" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
  </ul> -->


</section>

{{ partial "footer.html" . }}
