<head>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <base href="{{ .Site.BaseURL }}">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>
  {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
  {{ if eq $url "/" }}
      {{ .Site.Title }}
  {{ else }}
      {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
  {{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
