{{ partial "header.html" . }}
  <article class="cf bg-near-black">
    <div class="fl w-100 ph4 bg-white near-black">
      <h1 class="f2 f-subheadline-m f-headline-l ttu tracked-tight helvetica lh-title">{{ .Site.Params.title }}</h1>
      <div>
        <a href="/categories" class="link dim red f3 f1-m f1-l ph2 helvetica b">categories</a>
        <a href="/tags" class="link dim red f3 f1-m f1-l ph2 helvetica b">tags</a>
        <a href="/about" class="link dim red f3 f1-m f1-l ph2 helvetica b">about</a>
      </div>
    </div>
    <div class="cf fl w-100 helvetica ttc bg-white pr4">
            <ul class="">
            {{ range where (.Paginator 10000).Pages "Section" "blog"}}
                    {{ partial "li.html" . }}
            {{ end }}
            </ul>
    </div>
  </article>
{{ partial "footer.html" . }}
