{{ partial "header.html" . }}
  <article class="cf bg-near-black">
    <div class="fl w-100 w-50-ns tc bg-near-black orange">
      <h1 class="f1 ttu helvetica">{{ .Site.Params.title }}</h1>
      <img src="/images/hyperscape.jpg" class="center">
       <a href="/about" class="link dark-pink"><h2 class="f2 avenir">about</h2></a>
      </div>
    <div class="fl w-100 w-50-ns helvetica ttc bg-near-white ">
            <ul class="w-90 center">
            {{ range where (.Paginator 10000).Pages "Section" "blog"}}
                    {{ partial "li.html" . }}
            {{ end }}
            </ul>
    </div>
  </article>
{{ partial "footer.html" . }}
